# Arquivos do projeto
HELP.md

# Build & Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Arquivos de log e temporários
*.log
*.tmp

# Arquivos sensíveis e de configuração
.env
.env.*
*.properties
*.secret
*.key
*.pem
*.crt
*.p12

# Diretórios binários e compilados
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
out/
!**/src/main/**/out/
!**/src/test/**/out/

# IDEs

## Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
